In [1]:
# import boto3
import os
import sys
import requests
import json
import pandas as pd
from datetime import datetime, date, timedelta, timezone

api_key = '4fab58f885a6f341a28007b52346cffc'
url = 'https://api.openweathermap.org/data/2.5/onecall/timemachine'
yesterday = datetime.now() - timedelta(days=1)
timestamp = round(datetime.timestamp(yesterday))
params = {
    'lat': '53.349805',
    'lon': '-6.26031',
    'units': 'metric',
    'dt': timestamp,
    'appid': api_key
}



# s3_client = boto3.client('s3')

# def lambda_handler(event, context):
#     api_key = '4fab58f885a6f341a28007b52346cffc'
#     url = 'https://api.openweathermap.org/data/2.5/onecall/timemachine'
#     params = {
#         'lat': '53.349805',
#         'lon': '-6.26031',
#         'exclude': 'current,minutely,alerts',
#         'units': 'metric',
#         'appid': api_key
#     }

#     upload_path = '/tmp/resized-{}'.format(tmpkey)
    
#     for record in event['Records']:
#         bucket = record['s3']['bucket']['name']
#         key = unquote_plus(record['s3']['object']['key'])
#         tmpkey = key.replace('/', '')
#         download_path = '/tmp/{}{}'.format(uuid.uuid4(), tmpkey)
#         upload_path = '/tmp/resized-{}'.format(tmpkey)
#         s3_client.download_file(bucket, key, download_path)
#         resize_image(download_path, upload_path)
#         s3_client.upload_file(upload_path, '{}-resized'.format(bucket), key)

In [62]:
yesterday

datetime.datetime(2021, 1, 21, 16, 30, 40, 301453)

In [10]:
result = requests.get(url=url, params=params)
result_json = result.json()

result_df = pd.json_normalize(result_json['hourly'])

In [70]:
result_df

,dt,temp,feels_like,pressure,humidity,dew_point,clouds,visibility,wind_speed,wind_deg,weather,rain.1h,wind_gust
0,1611187200,2.16,-4.69,980,93,1.15,75,10000,7.20,250,"[{'id': 500, 'main': 'Rain', 'description': 'l...",0.25,NaN
1,1611190800,2.02,-3.41,979,93,1.01,40,10000,5.14,260,"[{'id': 500, 'main': 'Rain', 'description': 'l...",0.25,NaN
2,1611194400,2.13,-4.20,979,100,2.13,75,10000,6.69,250,"[{'id': 500, 'main': 'Rain', 'description': 'l...",0.25,NaN
3,1611198000,2.47,-5.05,979,93,1.46,75,10000,8.23,260,"[{'id': 803, 'main': 'Clouds', 'description': ...",NaN,NaN
4,1611201600,2.47,-3.61,980,93,1.46,90,10000,6.17,260,"[{'id': 804, 'main': 'Clouds', 'description': ...",NaN,NaN
5,1611205200,2.47,-4.70,980,93,1.46,90,10000,7.72,260,"[{'id': 804, 'main': 'Clouds', 'description': ...",NaN,14.40
6,1611208800,2.44,-4.37,980,93,1.43,75,10000,7.20,250,"[{'id': 803, 'main': 'Clouds', 'description': ...",NaN,NaN
7,1611212400,2.48,-4.83,980,87,0.54,75,10000,7.72,250,"[{'id': 803, 'main': 'Clouds', 'description': ...",NaN,12.86
8,1611216000,2.49,-5.03,982,93,1.47,75,10000,8.23,260,"[{'id': 803, 'main': 'Clouds', 'description': ...",NaN,13.38
9,1611219600,2.71,-4.42,982,93,1.69,75,10000,7.72,250,"[{'id': 803, 'main': 'Clouds', 'description': ...",NaN,13.38
10,1611223200,3.29,-5.69,982,87,1.34,75,10000,10.29,270,"[{'id': 500, 'main': 'Rain', 'description': 'l...",0.25,NaN
11,1611226800,3.78,-3.53,983,93,2.75,75,10000,8.23,270,"[{'id': 803, 'main': 'Clouds', 'description': ...",NaN,NaN
12,1611230400,4.42,-2.22,983,87,2.45,75,10000,7.20,270,"[{'id': 803, 'main': 'Clouds', 'description': ...",NaN,NaN
13,1611234000,5.09,-0.35,984,87,3.11,40,10000,5.66,260,"[{'id': 802, 'main': 'Clouds', 'description': ...",NaN,NaN
14,1611237600,5.46,-0.10,984,81,2.46,40,10000,5.66,250,"[{'id': 802, 'main': 'Clouds', 'description': ...",NaN,NaN
15,1611241200,5.71,0.73,985,75,1.63,40,10000,4.63,260,"[{'id': 802, 'main': 'Clouds', 'description': ...",NaN,NaN
16,1611244800,5.36,-0.21,985,81,2.37,40,10000,5.66,270,"[{'id': 802, 'main': 'Clouds', 'description': ...",NaN,NaN
17,1611248400,4.00,-1.63,985,87,2.04,40,10000,5.66,260,"[{'id': 802, 'main': 'Clouds', 'description': ...",NaN,NaN
18,1611252000,3.63,-2.78,986,87,1.67,40,10000,6.69,270,"[{'id': 802, 'main': 'Clouds', 'description': ...",NaN,NaN
19,1611255600,3.36,-2.73,986,87,1.41,20,10000,6.17,270,"[{'id': 801, 'main': 'Clouds', 'description': ...",NaN,NaN
20,1611259200,3.03,-2.60,987,93,2.01,20,10000,5.66,270,"[{'id': 801, 'main': 'Clouds', 'description': ...",NaN,NaN
21,1611262800,2.65,-3.40,987,93,1.63,40,10000,6.17,260,"[{'id': 802, 'main': 'Clouds', 'description': ...",NaN,NaN
22,1611266400,2.08,-2.82,987,100,2.08,40,10000,4.63,260,"[{'id': 802, 'main': 'Clouds', 'description': ...",NaN,NaN
23,1611270000,1.84,-2.90,988,93,0.83,40,10000,4.12,250,"[{'id': 802, 'main': 'Clouds', 'description': ...",NaN,NaN

In [76]:
weather_data = pd.json_normalize(data=result_json['hourly'], record_path='weather',
                              meta=['dt', 'temp', 'feels_like', 'clouds'])
weather_data = weather_data.drop(['main', 'description', 'icon', 'temp', 'clouds'], 1)

In [77]:
weather_data['dt'] = weather_data['dt'].apply(lambda x: datetime.fromtimestamp(x))
date = weather_data['dt'][0].strftime("%m-%d-%Y")
weather_data['dt'] = weather_data['dt'].apply(lambda x: x.strftime("%m/%d/%Y %H:%M:%S"))
weather_data = weather_data.drop(weather_data.index[21:])
weather_data = weather_data.drop(weather_data.index[:6])
weather_data

     id                   dt feels_like
6   803  01/21/2021 06:00:00      -4.37
7   803  01/21/2021 07:00:00      -4.83
8   803  01/21/2021 08:00:00      -5.03
9   803  01/21/2021 09:00:00      -4.42
10  500  01/21/2021 10:00:00      -5.69
11  803  01/21/2021 11:00:00      -3.53
12  803  01/21/2021 12:00:00      -2.22
13  802  01/21/2021 13:00:00      -0.35
14  802  01/21/2021 14:00:00       -0.1
15  802  01/21/2021 15:00:00       0.73
16  802  01/21/2021 16:00:00      -0.21
17  802  01/21/2021 17:00:00      -1.63
18  802  01/21/2021 18:00:00      -2.78
19  801  01/21/2021 19:00:00      -2.73
20  801  01/21/2021 20:00:00       -2.6

In [78]:
date

'01-21-2021'