In [99]:
import requests
import pandas as pd

In [176]:
url = 'https://api.openweathermap.org/data/2.5/onecall?lat=53.349805&lon=-6.26031&exclude=current,minutely,daily,alerts&appid=4fab58f885a6f341a28007b52346cffc'
result = requests.post(url=url)

In [177]:
json_result = result.json()

In [178]:
df = pd.DataFrame(json_result)

In [179]:
df

,lat,lon,timezone,timezone_offset,hourly
0,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601733600, 'temp': 284.15, 'feels_like..."
1,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601737200, 'temp': 284.07, 'feels_like..."
2,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601740800, 'temp': 283.7, 'feels_like'..."
3,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601744400, 'temp': 282.84, 'feels_like..."
4,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601748000, 'temp': 282.22, 'feels_like..."
5,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601751600, 'temp': 281.55, 'feels_like..."
6,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601755200, 'temp': 281.12, 'feels_like..."
7,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601758800, 'temp': 280.65, 'feels_like..."
8,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601762400, 'temp': 280.4, 'feels_like'..."
9,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601766000, 'temp': 280.16, 'feels_like..."
10,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601769600, 'temp': 280.23, 'feels_like..."
11,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601773200, 'temp': 280.24, 'feels_like..."
12,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601776800, 'temp': 280.38, 'feels_like..."
13,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601780400, 'temp': 280.79, 'feels_like..."
14,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601784000, 'temp': 281.32, 'feels_like..."
15,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601787600, 'temp': 281.93, 'feels_like..."
16,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601791200, 'temp': 282.54, 'feels_like..."
17,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601794800, 'temp': 283.03, 'feels_like..."
18,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601798400, 'temp': 283.45, 'feels_like..."
19,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601802000, 'temp': 283.92, 'feels_like..."
20,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601805600, 'temp': 284.18, 'feels_like..."
21,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601809200, 'temp': 284.37, 'feels_like..."
22,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601812800, 'temp': 284.81, 'feels_like..."
23,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601816400, 'temp': 285.5, 'feels_like'..."
24,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601820000, 'temp': 285.51, 'feels_like..."
25,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601823600, 'temp': 285.81, 'feels_like..."
26,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601827200, 'temp': 286.05, 'feels_like..."
27,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601830800, 'temp': 286.13, 'feels_like..."
28,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601834400, 'temp': 286.14, 'feels_like..."
29,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601838000, 'temp': 286.08, 'feels_like..."
30,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601841600, 'temp': 285.9, 'feels_like'..."
31,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601845200, 'temp': 285.77, 'feels_like..."
32,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601848800, 'temp': 285.69, 'feels_like..."
33,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601852400, 'temp': 285.64, 'feels_like..."
34,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601856000, 'temp': 285.4, 'feels_like'..."
35,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601859600, 'temp': 285.24, 'feels_like..."
36,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601863200, 'temp': 285.13, 'feels_like..."
37,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601866800, 'temp': 284.96, 'feels_like..."
38,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601870400, 'temp': 284.84, 'feels_like..."
39,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601874000, 'temp': 284.63, 'feels_like..."
40,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601877600, 'temp': 284.54, 'feels_like..."
41,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601881200, 'temp': 284.43, 'feels_like..."
42,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601884800, 'temp': 284.16, 'feels_like..."
43,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601888400, 'temp': 283.75, 'feels_like..."
44,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601892000, 'temp': 283.57, 'feels_like..."
45,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601895600, 'temp': 283.38, 'feels_like..."
46,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601899200, 'temp': 283.63, 'feels_like..."
47,53.35,-6.26,Europe/Dublin,3600,"{'dt': 1601902800, 'temp': 284.27, 'feels_like..."

In [180]:
hourly = pd.DataFrame([md for md in df.hourly])
hourly

,dt,temp,feels_like,pressure,humidity,dew_point,clouds,visibility,wind_speed,wind_deg,weather,pop,rain
0,1601733600,284.15,279.41,994,76,280.09,75,10000,5.75,319,"[{'id': 803, 'main': 'Clouds', 'description': ...",0.12,NaN
1,1601737200,284.07,279.60,994,77,280.20,82,10000,5.40,318,"[{'id': 803, 'main': 'Clouds', 'description': ...",0.08,NaN
2,1601740800,283.70,279.04,993,76,279.65,88,10000,5.50,310,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.00,NaN
3,1601744400,282.84,278.51,992,78,279.20,93,10000,4.88,308,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.00,NaN
4,1601748000,282.22,277.90,992,79,278.78,94,10000,4.74,306,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.00,NaN
5,1601751600,281.55,277.14,991,81,278.54,100,10000,4.79,309,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.00,NaN
6,1601755200,281.12,276.26,991,80,277.99,100,10000,5.26,311,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.00,NaN
7,1601758800,280.65,275.48,990,79,277.25,100,10000,5.53,305,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.00,NaN
8,1601762400,280.40,274.82,989,77,276.75,100,10000,5.95,298,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.00,NaN
9,1601766000,280.16,274.54,989,77,276.52,100,10000,5.95,296,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.00,NaN
10,1601769600,280.23,274.31,988,77,276.49,100,10000,6.40,294,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.00,NaN
11,1601773200,280.24,273.70,987,77,276.62,100,10000,7.29,293,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.19,NaN
12,1601776800,280.38,273.45,986,79,277.02,100,10000,7.97,293,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.28,NaN
13,1601780400,280.79,273.70,985,80,277.60,100,10000,8.36,296,"[{'id': 500, 'main': 'Rain', 'description': 'l...",0.32,{'1h': 0.2}
14,1601784000,281.32,274.08,984,83,278.62,100,10000,8.87,297,"[{'id': 500, 'main': 'Rain', 'description': 'l...",0.62,{'1h': 0.27}
15,1601787600,281.93,274.43,984,86,279.79,100,10000,9.58,299,"[{'id': 500, 'main': 'Rain', 'description': 'l...",0.82,{'1h': 0.48}
16,1601791200,282.54,275.14,983,86,280.44,100,10000,9.63,301,"[{'id': 500, 'main': 'Rain', 'description': 'l...",0.88,{'1h': 0.24}
17,1601794800,283.03,276.01,983,88,281.16,100,10000,9.36,303,"[{'id': 500, 'main': 'Rain', 'description': 'l...",1.00,{'1h': 0.45}
18,1601798400,283.45,276.45,983,89,281.82,100,9670,9.53,305,"[{'id': 501, 'main': 'Rain', 'description': 'm...",1.00,{'1h': 1.36}
19,1601802000,283.92,277.69,983,89,282.33,100,10000,8.60,306,"[{'id': 500, 'main': 'Rain', 'description': 'l...",1.00,{'1h': 0.96}
20,1601805600,284.18,277.93,983,89,282.54,100,10000,8.73,304,"[{'id': 500, 'main': 'Rain', 'description': 'l...",1.00,{'1h': 0.97}
21,1601809200,284.37,278.36,983,89,282.79,100,10000,8.45,302,"[{'id': 500, 'main': 'Rain', 'description': 'l...",1.00,{'1h': 0.4}
22,1601812800,284.81,279.14,983,89,283.23,100,10000,8.13,302,"[{'id': 500, 'main': 'Rain', 'description': 'l...",1.00,{'1h': 0.31}
23,1601816400,285.50,280.13,983,89,283.84,100,10000,7.97,301,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.88,NaN
24,1601820000,285.51,280.77,983,91,284.18,100,7996,7.21,305,"[{'id': 501, 'main': 'Rain', 'description': 'm...",1.00,{'1h': 1.08}
25,1601823600,285.81,281.52,983,92,284.58,100,6548,6.75,307,"[{'id': 501, 'main': 'Rain', 'description': 'm...",1.00,{'1h': 1.49}
26,1601827200,286.05,281.85,983,91,284.77,100,7880,6.66,306,"[{'id': 501, 'main': 'Rain', 'description': 'm...",1.00,{'1h': 1.23}
27,1601830800,286.13,281.98,984,92,284.91,100,5552,6.69,308,"[{'id': 501, 'main': 'Rain', 'description': 'm...",1.00,{'1h': 1.11}
28,1601834400,286.14,282.01,985,92,284.90,100,6853,6.66,310,"[{'id': 501, 'main': 'Rain', 'description': 'm...",1.00,{'1h': 1.53}
29,1601838000,286.08,281.73,986,91,284.79,100,8209,6.89,311,"[{'id': 501, 'main': 'Rain', 'description': 'm...",1.00,{'1h': 1.26}
30,1601841600,285.90,281.18,987,91,284.50,100,6835,7.34,306,"[{'id': 501, 'main': 'Rain', 'description': 'm...",1.00,{'1h': 1.17}
31,1601845200,285.77,280.91,987,90,284.25,100,10000,7.42,302,"[{'id': 500, 'main': 'Rain', 'description': 'l...",1.00,{'1h': 0.62}
32,1601848800,285.69,280.92,988,90,284.15,100,10000,7.26,304,"[{'id': 500, 'main': 'Rain', 'description': 'l...",1.00,{'1h': 0.27}
33,1601852400,285.64,280.66,988,89,284.03,100,10000,7.46,304,"[{'id': 500, 'main': 'Rain', 'description': 'l...",1.00,{'1h': 0.2}
34,1601856000,285.40,280.20,989,89,283.73,100,10000,7.69,302,"[{'id': 500, 'main': 'Rain', 'description': 'l...",1.00,{'1h': 0.17}
35,1601859600,285.24,279.97,989,89,283.51,100,10000,7.73,298,"[{'id': 500, 'main': 'Rain', 'description': 'l...",0.92,{'1h': 0.1}
36,1601863200,285.13,279.63,990,89,283.39,100,10000,8.01,294,"[{'id': 500, 'main': 'Rain', 'description': 'l...",0.96,{'1h': 0.2}
37,1601866800,284.96,278.78,990,88,283.13,100,10000,8.85,293,"[{'id': 500, 'main': 'Rain', 'description': 'l...",1.00,{'1h': 0.27}
38,1601870400,284.84,278.38,990,87,282.83,100,10000,9.14,289,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.80,NaN
39,1601874000,284.63,277.66,991,87,282.63,100,10000,9.79,288,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.80,NaN
40,1601877600,284.54,277.58,992,87,282.59,100,10000,9.75,291,"[{'id': 500, 'main': 'Rain', 'description': 'l...",1.00,{'1h': 0.22}
41,1601881200,284.43,278.01,992,88,282.56,100,10000,8.99,293,"[{'id': 500, 'main': 'Rain', 'description': 'l...",0.53,{'1h': 0.22}
42,1601884800,284.16,278.22,993,89,282.44,100,8746,8.27,290,"[{'id': 500, 'main': 'Rain', 'description': 'l...",0.53,{'1h': 0.49}
43,1601888400,283.75,278.09,993,89,282.04,100,10000,7.73,285,"[{'id': 500, 'main': 'Rain', 'description': 'l...",0.58,{'1h': 0.67}
44,1601892000,283.57,277.38,994,86,281.50,100,10000,8.24,279,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.63,NaN
45,1601895600,283.38,276.85,995,85,281.02,100,10000,8.61,275,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.59,NaN
46,1601899200,283.63,276.76,995,83,280.89,100,10000,9.06,274,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.59,NaN
47,1601902800,284.27,277.04,995,79,280.93,99,10000,9.53,276,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.17,NaN

In [181]:
weather = pd.DataFrame([md for md in hourly.weather])

In [182]:
weather = pd.DataFrame([md for md in weather[0]])

In [183]:
merged_df = hourly.merge(weather, left_index=True, right_index=True)
merged_df

,dt,temp,feels_like,pressure,humidity,dew_point,clouds,visibility,wind_speed,wind_deg,weather,pop,rain,id,main,description,icon
0,1601733600,284.15,279.41,994,76,280.09,75,10000,5.75,319,"[{'id': 803, 'main': 'Clouds', 'description': ...",0.12,NaN,803,Clouds,broken clouds,04d
1,1601737200,284.07,279.60,994,77,280.20,82,10000,5.40,318,"[{'id': 803, 'main': 'Clouds', 'description': ...",0.08,NaN,803,Clouds,broken clouds,04d
2,1601740800,283.70,279.04,993,76,279.65,88,10000,5.50,310,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.00,NaN,804,Clouds,overcast clouds,04d
3,1601744400,282.84,278.51,992,78,279.20,93,10000,4.88,308,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.00,NaN,804,Clouds,overcast clouds,04d
4,1601748000,282.22,277.90,992,79,278.78,94,10000,4.74,306,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.00,NaN,804,Clouds,overcast clouds,04n
5,1601751600,281.55,277.14,991,81,278.54,100,10000,4.79,309,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.00,NaN,804,Clouds,overcast clouds,04n
6,1601755200,281.12,276.26,991,80,277.99,100,10000,5.26,311,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.00,NaN,804,Clouds,overcast clouds,04n
7,1601758800,280.65,275.48,990,79,277.25,100,10000,5.53,305,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.00,NaN,804,Clouds,overcast clouds,04n
8,1601762400,280.40,274.82,989,77,276.75,100,10000,5.95,298,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.00,NaN,804,Clouds,overcast clouds,04n
9,1601766000,280.16,274.54,989,77,276.52,100,10000,5.95,296,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.00,NaN,804,Clouds,overcast clouds,04n
10,1601769600,280.23,274.31,988,77,276.49,100,10000,6.40,294,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.00,NaN,804,Clouds,overcast clouds,04n
11,1601773200,280.24,273.70,987,77,276.62,100,10000,7.29,293,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.19,NaN,804,Clouds,overcast clouds,04n
12,1601776800,280.38,273.45,986,79,277.02,100,10000,7.97,293,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.28,NaN,804,Clouds,overcast clouds,04n
13,1601780400,280.79,273.70,985,80,277.60,100,10000,8.36,296,"[{'id': 500, 'main': 'Rain', 'description': 'l...",0.32,{'1h': 0.2},500,Rain,light rain,10n
14,1601784000,281.32,274.08,984,83,278.62,100,10000,8.87,297,"[{'id': 500, 'main': 'Rain', 'description': 'l...",0.62,{'1h': 0.27},500,Rain,light rain,10n
15,1601787600,281.93,274.43,984,86,279.79,100,10000,9.58,299,"[{'id': 500, 'main': 'Rain', 'description': 'l...",0.82,{'1h': 0.48},500,Rain,light rain,10n
16,1601791200,282.54,275.14,983,86,280.44,100,10000,9.63,301,"[{'id': 500, 'main': 'Rain', 'description': 'l...",0.88,{'1h': 0.24},500,Rain,light rain,10n
17,1601794800,283.03,276.01,983,88,281.16,100,10000,9.36,303,"[{'id': 500, 'main': 'Rain', 'description': 'l...",1.00,{'1h': 0.45},500,Rain,light rain,10d
18,1601798400,283.45,276.45,983,89,281.82,100,9670,9.53,305,"[{'id': 501, 'main': 'Rain', 'description': 'm...",1.00,{'1h': 1.36},501,Rain,moderate rain,10d
19,1601802000,283.92,277.69,983,89,282.33,100,10000,8.60,306,"[{'id': 500, 'main': 'Rain', 'description': 'l...",1.00,{'1h': 0.96},500,Rain,light rain,10d
20,1601805600,284.18,277.93,983,89,282.54,100,10000,8.73,304,"[{'id': 500, 'main': 'Rain', 'description': 'l...",1.00,{'1h': 0.97},500,Rain,light rain,10d
21,1601809200,284.37,278.36,983,89,282.79,100,10000,8.45,302,"[{'id': 500, 'main': 'Rain', 'description': 'l...",1.00,{'1h': 0.4},500,Rain,light rain,10d
22,1601812800,284.81,279.14,983,89,283.23,100,10000,8.13,302,"[{'id': 500, 'main': 'Rain', 'description': 'l...",1.00,{'1h': 0.31},500,Rain,light rain,10d
23,1601816400,285.50,280.13,983,89,283.84,100,10000,7.97,301,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.88,NaN,804,Clouds,overcast clouds,04d
24,1601820000,285.51,280.77,983,91,284.18,100,7996,7.21,305,"[{'id': 501, 'main': 'Rain', 'description': 'm...",1.00,{'1h': 1.08},501,Rain,moderate rain,10d
25,1601823600,285.81,281.52,983,92,284.58,100,6548,6.75,307,"[{'id': 501, 'main': 'Rain', 'description': 'm...",1.00,{'1h': 1.49},501,Rain,moderate rain,10d
26,1601827200,286.05,281.85,983,91,284.77,100,7880,6.66,306,"[{'id': 501, 'main': 'Rain', 'description': 'm...",1.00,{'1h': 1.23},501,Rain,moderate rain,10d
27,1601830800,286.13,281.98,984,92,284.91,100,5552,6.69,308,"[{'id': 501, 'main': 'Rain', 'description': 'm...",1.00,{'1h': 1.11},501,Rain,moderate rain,10d
28,1601834400,286.14,282.01,985,92,284.90,100,6853,6.66,310,"[{'id': 501, 'main': 'Rain', 'description': 'm...",1.00,{'1h': 1.53},501,Rain,moderate rain,10n
29,1601838000,286.08,281.73,986,91,284.79,100,8209,6.89,311,"[{'id': 501, 'main': 'Rain', 'description': 'm...",1.00,{'1h': 1.26},501,Rain,moderate rain,10n
30,1601841600,285.90,281.18,987,91,284.50,100,6835,7.34,306,"[{'id': 501, 'main': 'Rain', 'description': 'm...",1.00,{'1h': 1.17},501,Rain,moderate rain,10n
31,1601845200,285.77,280.91,987,90,284.25,100,10000,7.42,302,"[{'id': 500, 'main': 'Rain', 'description': 'l...",1.00,{'1h': 0.62},500,Rain,light rain,10n
32,1601848800,285.69,280.92,988,90,284.15,100,10000,7.26,304,"[{'id': 500, 'main': 'Rain', 'description': 'l...",1.00,{'1h': 0.27},500,Rain,light rain,10n
33,1601852400,285.64,280.66,988,89,284.03,100,10000,7.46,304,"[{'id': 500, 'main': 'Rain', 'description': 'l...",1.00,{'1h': 0.2},500,Rain,light rain,10n
34,1601856000,285.40,280.20,989,89,283.73,100,10000,7.69,302,"[{'id': 500, 'main': 'Rain', 'description': 'l...",1.00,{'1h': 0.17},500,Rain,light rain,10n
35,1601859600,285.24,279.97,989,89,283.51,100,10000,7.73,298,"[{'id': 500, 'main': 'Rain', 'description': 'l...",0.92,{'1h': 0.1},500,Rain,light rain,10n
36,1601863200,285.13,279.63,990,89,283.39,100,10000,8.01,294,"[{'id': 500, 'main': 'Rain', 'description': 'l...",0.96,{'1h': 0.2},500,Rain,light rain,10n
37,1601866800,284.96,278.78,990,88,283.13,100,10000,8.85,293,"[{'id': 500, 'main': 'Rain', 'description': 'l...",1.00,{'1h': 0.27},500,Rain,light rain,10n
38,1601870400,284.84,278.38,990,87,282.83,100,10000,9.14,289,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.80,NaN,804,Clouds,overcast clouds,04n
39,1601874000,284.63,277.66,991,87,282.63,100,10000,9.79,288,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.80,NaN,804,Clouds,overcast clouds,04n
40,1601877600,284.54,277.58,992,87,282.59,100,10000,9.75,291,"[{'id': 500, 'main': 'Rain', 'description': 'l...",1.00,{'1h': 0.22},500,Rain,light rain,10n
41,1601881200,284.43,278.01,992,88,282.56,100,10000,8.99,293,"[{'id': 500, 'main': 'Rain', 'description': 'l...",0.53,{'1h': 0.22},500,Rain,light rain,10d
42,1601884800,284.16,278.22,993,89,282.44,100,8746,8.27,290,"[{'id': 500, 'main': 'Rain', 'description': 'l...",0.53,{'1h': 0.49},500,Rain,light rain,10d
43,1601888400,283.75,278.09,993,89,282.04,100,10000,7.73,285,"[{'id': 500, 'main': 'Rain', 'description': 'l...",0.58,{'1h': 0.67},500,Rain,light rain,10d
44,1601892000,283.57,277.38,994,86,281.50,100,10000,8.24,279,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.63,NaN,804,Clouds,overcast clouds,04d
45,1601895600,283.38,276.85,995,85,281.02,100,10000,8.61,275,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.59,NaN,804,Clouds,overcast clouds,04d
46,1601899200,283.63,276.76,995,83,280.89,100,10000,9.06,274,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.59,NaN,804,Clouds,overcast clouds,04d
47,1601902800,284.27,277.04,995,79,280.93,99,10000,9.53,276,"[{'id': 804, 'main': 'Clouds', 'description': ...",0.17,NaN,804,Clouds,overcast clouds,04d

In [184]:
del merged_df['feels_like']
del merged_df['pressure']
del merged_df['humidity']
del merged_df['dew_point']
del merged_df['visibility']
del merged_df['wind_deg']
del merged_df['weather']
del merged_df['pop']
del merged_df['rain']
del merged_df['main']
del merged_df['description']
del merged_df['icon']

In [185]:
from datetime import datetime

In [186]:
for index in merged_df.index:
    if merged_df.loc[index, 'dt']:
        t = merged_df.loc[index, 'dt']
        merged_df.loc[index, 'dt_iso'] = datetime.utcfromtimestamp(t).strftime('%Y-%m-%d %H:%M:%S')

In [187]:
merged_df['dt_iso'] = pd.to_datetime(merged_df['dt_iso'], errors='coerce')
merged_df['hour'] = merged_df['dt_iso'].dt.hour
merged_df

            dt    temp  clouds  wind_speed   id              dt_iso  hour
0   1601733600  284.15      75        5.75  803 2020-10-03 14:00:00    14
1   1601737200  284.07      82        5.40  803 2020-10-03 15:00:00    15
2   1601740800  283.70      88        5.50  804 2020-10-03 16:00:00    16
3   1601744400  282.84      93        4.88  804 2020-10-03 17:00:00    17
4   1601748000  282.22      94        4.74  804 2020-10-03 18:00:00    18
5   1601751600  281.55     100        4.79  804 2020-10-03 19:00:00    19
6   1601755200  281.12     100        5.26  804 2020-10-03 20:00:00    20
7   1601758800  280.65     100        5.53  804 2020-10-03 21:00:00    21
8   1601762400  280.40     100        5.95  804 2020-10-03 22:00:00    22
9   1601766000  280.16     100        5.95  804 2020-10-03 23:00:00    23
10  1601769600  280.23     100        6.40  804 2020-10-04 00:00:00     0
11  1601773200  280.24     100        7.29  804 2020-10-04 01:00:00     1
12  1601776800  280.38     100        7.97  804 2020-10-04 02:00:00     2
13  1601780400  280.79     100        8.36  500 2020-10-04 03:00:00     3
14  1601784000  281.32     100        8.87  500 2020-10-04 04:00:00     4
15  1601787600  281.93     100        9.58  500 2020-10-04 05:00:00     5
16  1601791200  282.54     100        9.63  500 2020-10-04 06:00:00     6
17  1601794800  283.03     100        9.36  500 2020-10-04 07:00:00     7
18  1601798400  283.45     100        9.53  501 2020-10-04 08:00:00     8
19  1601802000  283.92     100        8.60  500 2020-10-04 09:00:00     9
20  1601805600  284.18     100        8.73  500 2020-10-04 10:00:00    10
21  1601809200  284.37     100        8.45  500 2020-10-04 11:00:00    11
22  1601812800  284.81     100        8.13  500 2020-10-04 12:00:00    12
23  1601816400  285.50     100        7.97  804 2020-10-04 13:00:00    13
24  1601820000  285.51     100        7.21  501 2020-10-04 14:00:00    14
25  1601823600  285.81     100        6.75  501 2020-10-04 15:00:00    15
26  1601827200  286.05     100        6.66  501 2020-10-04 16:00:00    16
27  1601830800  286.13     100        6.69  501 2020-10-04 17:00:00    17
28  1601834400  286.14     100        6.66  501 2020-10-04 18:00:00    18
29  1601838000  286.08     100        6.89  501 2020-10-04 19:00:00    19
30  1601841600  285.90     100        7.34  501 2020-10-04 20:00:00    20
31  1601845200  285.77     100        7.42  500 2020-10-04 21:00:00    21
32  1601848800  285.69     100        7.26  500 2020-10-04 22:00:00    22
33  1601852400  285.64     100        7.46  500 2020-10-04 23:00:00    23
34  1601856000  285.40     100        7.69  500 2020-10-05 00:00:00     0
35  1601859600  285.24     100        7.73  500 2020-10-05 01:00:00     1
36  1601863200  285.13     100        8.01  500 2020-10-05 02:00:00     2
37  1601866800  284.96     100        8.85  500 2020-10-05 03:00:00     3
38  1601870400  284.84     100        9.14  804 2020-10-05 04:00:00     4
39  1601874000  284.63     100        9.79  804 2020-10-05 05:00:00     5
40  1601877600  284.54     100        9.75  500 2020-10-05 06:00:00     6
41  1601881200  284.43     100        8.99  500 2020-10-05 07:00:00     7
42  1601884800  284.16     100        8.27  500 2020-10-05 08:00:00     8
43  1601888400  283.75     100        7.73  500 2020-10-05 09:00:00     9
44  1601892000  283.57     100        8.24  804 2020-10-05 10:00:00    10
45  1601895600  283.38     100        8.61  804 2020-10-05 11:00:00    11
46  1601899200  283.63     100        9.06  804 2020-10-05 12:00:00    12
47  1601902800  284.27      99        9.53  804 2020-10-05 13:00:00    13

In [188]:
merged_df = merged_df.loc[(merged_df['hour']==9) | (merged_df['hour']==13) | (merged_df['hour']==17)]
merged_df = merged_df.rename(columns={'id':'weather_id'})
merged_df = merged_df.reset_index(drop=True)

In [189]:
merged_df

,dt,temp,clouds,wind_speed,weather_id,dt_iso,hour
0,1601744400,282.84,93,4.88,804,2020-10-03 17:00:00,17
1,1601802000,283.92,100,8.60,500,2020-10-04 09:00:00,9
2,1601816400,285.50,100,7.97,804,2020-10-04 13:00:00,13
3,1601830800,286.13,100,6.69,501,2020-10-04 17:00:00,17
4,1601888400,283.75,100,7.73,500,2020-10-05 09:00:00,9
5,1601902800,284.27,99,9.53,804,2020-10-05 13:00:00,13

In [190]:
for index in merged_df.index:
    if merged_df.loc[index, 'dt_iso']:
        t = merged_df.loc[index, 'dt_iso'].strftime('%m/%d/%Y  %H:%M:%S')
        merged_df.loc[index, 'dt_iso'] = t

merged_df

,dt,temp,clouds,wind_speed,weather_id,dt_iso,hour
0,1601744400,282.84,93,4.88,804,10/03/2020 17:00:00,17
1,1601802000,283.92,100,8.60,500,10/04/2020 09:00:00,9
2,1601816400,285.50,100,7.97,804,10/04/2020 13:00:00,13
3,1601830800,286.13,100,6.69,501,10/04/2020 17:00:00,17
4,1601888400,283.75,100,7.73,500,10/05/2020 09:00:00,9
5,1601902800,284.27,99,9.53,804,10/05/2020 13:00:00,13